<script type="text/javascript">
  function doSubmit(message) {
    var xmlhttp;
    if(window.XMLHttpRequest) {
      xmlhttp = new XMLHttpRequest();
    } else  {
      xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
    }

    xmlhttp.open("POST", '/dwater/add', true);
    xmlhttp.setRequestHeader("Content-type", "application/text");

    xmlhttp.send( message );

    xmlhttp.onreadystatechange = function(e) {
      if(xmlhttp.readyState == 4 && xmlhttp.status == 200) {
        row = $(main_tbl)[0].insertRow(0);
        row.className = 'main_tbl_row';
        cell = row.insertCell(0);
        cell.className = 'main_tbl_column';
        cell.innerHTML = message;
      }
    }
  }
</script>

<div id="submit">
  <div id="submit_box">
    <textarea id="add_message_txtbox" name="message">Enter message here.</textarea>
    <button id="submit_btn" type="button" onclick="doSubmit(document.getElementById('add_message_txtbox').value);">Submit</button>
  </div>
</div>

<br/>

<div id="dooties">
  <table id="main_tbl">
    <% dooties.each do |d| %>
      <tr class="main_tbl_row"><td class="main_tbl_column"><%= d %></td></tr>
    <% end %>
  </table>
</div>
