<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
  <script type="text/javascript" src="/js/jquery-1.7.1.js"></script>
</head>
<body>
  <div id="container">
    <header>
      <div id="icon"></div>
      <h1 title="dootywater."><a href="/">dooty<span class="water">water</span></a></h1>
    </header>

    <div id="body">
      <%= yield %>
    </div>
  </div>
</body>
</html>

